
{
  "presets": [[
      "@babel/preset-env",
      {
        "corejs": "3.13",
        "useBuiltIns": "usage",
        "debug": true,
        "modules" : false
      }],
    "@babel/preset-react"]
}

