$color-dark-grey: #0D1117;
$color-grey: #161B22;
$color-light-grey: #c9d1d9;
$color-blue: #1F6FEB;

$color-border-bottom: #30363d;

body {
  background-color: $color-dark-grey;
  margin: 0;
  color: $color-light-grey;
}
